
#map {
    height: 100%;
}
	
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	
}
body  *{
box-sizing:border-box;
font-family: Roboto;
}
.content-info{
	width:360px;
}
.header{
	font-size:16px;
	color:#fff;
	padding:10px 15px;
	background-color:#f48371;
}
h3{
	color: #f48371;
	font-size:18px;
	text-transform:uppercase;
}
.content-list{
	padding:15px;
	font-size:16px;
	height:170px;
  overflow-y: auto;
}
.content-list ul{
	padding:0;
	margin:0;
	
}
.content-list li{
	padding:0;
	list-style-type:none;
}
.input-text{
	font-size:16px;
	border-radius:3px;
	line-height:20px;
	box-shadow:none;
	border:1px solid #d4d4d4;
	display:block;
	width:100%;
	padding:3px 15px;
}
.form-add{
	padding:15px;
	border-top:1px solid #f4f4f4;
}
.form-add div{
	margin:20px 0;
}
.button-container{
	text-align:right;
}
.form-add button{
	border-radius:10px;
	border:none;
	box-shadow:none;
	background-color:#f48371;
	font-size:16px;
	padding:5px 15px;
	color:#fff;
  border-radius: 3px;
}

.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}


.list {
  height: 160px;
  width:300px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  position:relative;
}

.list li {
  width:300px;
  height: 160px;
  position: absolute;
  background-color: #fff;
  list-style-type: none;
  font-size: 16px;
  display: none;
  opacity:0;
  transition: opacity 1s ease-out 0.5s;
}
.list li.display-block{
   display: block;
   opacity:1;
   transition: opacity 1s ease-out 0.5s;
}

.links{
   position: absolute;
   bottom:0;
   width: 300px;
   height: 30px;
   background-color: #ccc;
   display: flex;
   color:#fff;
   padding: 0;
}
.links li{
   flex: auto;
   list-style-type: none;
   cursor: pointer;
   text-align: center;
   line-height: 24px;
   color:#4394d5;
   cursor: pointer;
}
.links li.active{
  color:#000;
}
.carusel_wrap{
  width: 340px;
  height: 190px;
  padding: 0 20px;
  position: relative;
}
.carusel_wrap button{
  background-image: none;
  border:none;
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  top:50%;
  margin-top: -15px;
  color:#e1e1e1;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
#prev{
  left:0;
}
#next{
  right: 0;
}
.carusel_wrap{
  font-size: 14px;
  position: relative;

}
.carusel_wrap .place{
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}
.carusel_wrap .adress{
  color:#2f1aa7;
  text-decoration: underline;
  margin-bottom: 20px;
  cursor: pointer;
}
.data-review{
  position: absolute;
  right: 0;
  bottom:20px;
}
.name-content{
  font-weight: bold;
}
.review-content{
  margin-top: 20px;
}